* {
    box-sizing: border-box;
}

.header-img-container {
    width: 100%;
    height: 60px;
    background-color: #DD1A1A;
    display: flex;
    align-items: flex-end;
}

.header-img-container img {
    width: 150px;
    margin-left: 50px;
}

.black-header {
    background-color: #0C0C0C;
    height: 30px;
    width: 100%;
}

.circle {
    width: 60px;
    aspect-ratio: 1;
    position: absolute;
    background-color: #FFF;
    right: 30px;
    top: 45px;
    border-radius: 50%;
    border: 7px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle div {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #212121;
    border: 6px solid #000;
}